
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-Type" content="text/html; charset=UTF-8">
<title>Welcome</title>
</head>
<body>
로그인 여부
 
<hr>
 
<span sec:authorize="isAuthenticated()">
<p> Log-In</p>
</span>
 
<span sec:authorize="!isAuthenticated()">
<p> Log-Out</p>
</span>

USER ID : <span sec:authentication="name"></span> 
 
<!--<c:url value="/logout" var="logoutUrl" />
<a href="/logout">Log Out</a> <br />-->
</body>
</html>