<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>html main</title>
</head>
<body>
KFC 시작

<span sec:authorize="isAuthenticated()">
<p> 로그인 중 </p>
<a href="/check">유저 정보</a> <br />
<a href="/list">DB 확인</a> <br />
<!--  <c:url value="/logout" var="logoutUrl" />
<a href="/logout">Log Out</a> <br />-->
</span>

<span sec:authorize="!isAuthenticated()">
<p> 로그인 해야함</p>
<a href="/loginForm">Log in</a> <br />
</span>


</body>
</html>